.blockElement {
  display: flex;
  flex-direction: column;

  button {
    text-align: left;
    width: fit-content;
  }

  .infoElement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
  }
}
